.menu li {
  display: inline-block;
  margin: 0 10px;
}

.navbar-nav {
  flex-direction: row;
}

#map {
  height: 200px;
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  outline: none !important;
}